torch
torchvision
torchtext
torchsummary
torchviz
tensorflow
tensorflow_datasets
tensorboard
scikit-learn
streamlit
matplotlib
pandas
numpy
seaborn
pytorch_lightning
absl-py
git
pytest
fastapi
uvicorn
sqlalchemy
pymysql
bcrypt
python-jose[cryptography]
python-multipart